/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-attachment: scroll;
}
.inner-container {
  max-width: 1040px;
  margin: 0 auto;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 20px solid #99A4AF;
  border-bottom: 20px solid #99A4AF;
}
.sectionHeading {
  font-size: 2.3rem;
  font-weight: bold;
  color: #222222;
}
.sectionText {
  margin-top: 21px;
  line-height: 2.5rem;
  font-size: 1.5rem;
  margin-bottom: 27px;
  text-align: left;
}
.sectionButton {
  border: 1px solid #222222;
  background-color: #99A4AF;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31%;
}
.sectionButton p {
  font-size: 1.6rem;
  padding-top: 15px;
  padding-bottom: 15px;
}
.slide-image-right {
  animation: animate-img-right 0.5s 1;
  -moz-animation: animate-img-right 0.5s 1;
  -webkit-animation: animate-img-right 0.5s 1;
  -o-animation: animate-img-right 0.5s 1;
}
@keyframes animate-img-right {
  0% {
    transform: translateX(-75%) scale(0);
  }
  50% {
    transform: translateX(15%) scale(0.5);
  }
  100% {
    transform: translateX(0%) scale(1);
  }
}
.slide-image-left {
  animation: animate-img-left 0.5s 1;
  -moz-animation: animate-img-left 0.5s 1;
  -webkit-animation: animate-img-left 0.5s;
  -o-animation: animate-img-left 0.5s 1;
}
@keyframes animate-img-left {
  0% {
    transform: translateX(75%) scale(0);
  }
  50% {
    transform: translateX(-15%) scale(0.5);
  }
  100% {
    transform: translateX(0%) scale(1);
  }
}
.slide-div-down {
  animation: animate-div 0.5s 1;
  -moz-animation: animate-div 0.5s 1;
  -webkit-animation: animate-div 0.5s 1;
  -o-animation: animate-div 0.5s 1;
}
@keyframes animate-div {
  0% {
    opacity: 0.5;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.slide-div-up {
  animation: animate-div 0.5s 1;
  -moz-animation: animate-div 0.5s 1;
  -webkit-animation: animate-div 0.5s 1;
  -o-animation: animate-div 0.5s 1;
}
@keyframes animate-div {
  0% {
    opacity: 0.5;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.img1 {
  /* The image used */
  background-image: url('../img/home/home-jumbotron.png');
  /* Set a specific height */
  min-height: 780px;
  /* Create the parallax scrolling effect */
  max-width: 100%;
  height: auto;
}
.bgImage {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.div {
  background-color: white;
  color: black;
  height: 800px;
}
.img2 {
  /* The image used */
  background-image: url('../img/arc2.jpg');
  /* Set a specific height */
  height: 650px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.div2 {
  background-color: white;
  color: black;
  height: 1000px;
}
.img3 {
  /* The image used */
  background-image: url('../img/arc3.jpg');
  /* Set a specific height */
  height: 860px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.div3 {
  background-color: white;
  color: black;
  height: 200px;
}
.marketing-container {
  display: flex;
  justify-content: space-between;
}
.marketing-container .arch-left-side {
  width: 45%;
}
.marketing-container .arch-left-side .archText-img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  height: 275px;
  margin-bottom: 47px;
}
.marketing-container .arch-right-side {
  width: 45%;
}
.marketing-container .arch-right-side .futureDesign-img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  height: 275px;
  margin-top: 47px;
}
.marketing-header {
  height: 25px;
  width: 100%;
  background-color: #99A4AF;
}
.marketing-footer {
  height: 25px;
  width: 100%;
  background-color: #99A4AF;
}
