
html{
    height:100%;
    font-size:62.5%
}
body{
    box-sizing: border-box;
    background-color: #ffffff; 
    font-family: @fontStack;
    overflow-x: hidden;
 }
 .main-container{
    background-image: url('../img/home/home-jumbotron.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
    width: 100vw;
    opacity: .8;
    display:flex;
    justify-content: center;
    align-items: center;
 }
.hidden{display:none}