

.marketing-container{
    display:flex;
    justify-content: space-between;

    .arch-left-side{
        width: 45%;

        .archText-img{
            width: 100%;
            height: auto;
            background-size:cover;
            background-position: center;
            height:275px;
            margin-bottom:47px;
        }   
        .arch-text{
        }
    }
    .arch-right-side{
        width: 45%;

        .futureDesign-img{
            width: 100%;
            height: auto;
            background-size:cover;
            background-position: center;
            height:275px;
            margin-top:47px;
        }
        .fut-text{
        }

    }    

}
.marketing-header{
    height:25px;
    width: 100%;
    background-color: #99A4AF;
}
.marketing-footer{
    height:25px;
    width: 100%;
    background-color: #99A4AF;
}
