

.proj-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .proj-image{
        width: 100%;
        height: auto;
    }
    .proj-text{
        width: 50%;
    }
}